<h1>Edit article</h1>

<%= render 'form' %> <!-- Renders the partial, _form, which doesn't need a path since it is in the same directory. However, if there's a partial in the layouts folder, it must be shown 'layouts/messages_partial_example_here' -->

<%= link_to 'Return to articles listing', articles_path %>