<h1 class="text-center mt-4">Listing all articles</h1> <!-- mt-4 stands for margin-top of 4 (idk what units)-->

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>