<div class="container text-center mt-4 mb-4 pt-4 pb-4 col-md-8 bg-dark rounded text-light">

  <h1><%= link_to "About", about_path, class: "no-link text-white" %></h1>
  <h2 id="about-line"></h2> <!-- This is a line underneath About -->
  <h5>This website was created in:</h5>
  <div class="container adjusted-spacing">
    <p>Ruby</p>
    <p>Rails version 6.1.4</p>
    <p>Bootstrap 5.0.2</p>
    <p>CSS</p>

    <div class="container mt-4 text-start">

      

    </div>
  </div>


</div>