<footer  id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Prashant Jaiswal", "https://www.facebook.com/rockstar.pj", class: "text-white", id: "link-tristan" %></small>
  </div>
</footer>