<footer  id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Tristan Lee", "https://www.facebook.com/tristan.lee.1804", class: "text-white", id: "link-tristan" %></small>
  </div>
</footer>